{% extends "_layouts/edit.html" -%}
{% block body %}
{{ form::input(name="name", title="名称", value=row.name) }}
{{ form::remark(value=row.remark) }}
{{ form::number(name="watch_per_day", title="每日可看", value=row.watch_per_day) }}
{{ form::number(name="score_min", title="最小积分", value=row.score_min) }}
{{ form::number(name="score_max", title="最大积分", value=row.score_max) }}
{{ form::seq(value=row.seq) }}
<script>
layui.validators = { 
    name: function(value) { 
        if (value.length < 3 || value.length > 20) { 
            return '等级名称长度必须在3-20之间';
        }
    },
    remark: function(value) { 
        if (value.length > 100) { 
            return '必须长度不能大于200字符';
        }
    },
    watch_per_day: function(value) { 
        if (value < 0) { 
            return '每日可看不能是负数';
        }
    },
    score_min: function(value) { 
        if (value <  0) { 
            return '最小积分不能是负数';
        }
    },
    score_max: function(value) { 
        if (value < 0) { 
            return '最大积分不能是负数';
        }
    }
};
</script>
{% endblock body -%}
