{% macro search() -%}
<div class="layui-inline layui-show-xs-block">
    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
</div>
{% endmacro search -%}

{% macro delete_all() -%}
<button class="layui-btn layui-btn-danger record-delete-all"><i class="layui-icon"></i>批量删除</button>
{% endmacro delete_all -%}

{% macro add(height=400, width=600) -%}
<button class="layui-btn record-add" w_width="{{width}}" w_height="{{height}}"><i class="layui-icon"></i>添加</button>
{% endmacro add -%}

{% macro update(id, height=400, width=600) -%}
<a title="编辑" href="javascript:;" class="record-update" rid="{{id}}" w_width="{{width}}" w_height="{{height}}"><i class="layui-icon">&#xe642;</i></a>
{% endmacro update -%}

{% macro delete(id) -%}
<a title="删除" href="javascript:;" class="record-delete" rid={{id}}><i class="layui-icon">&#xe640;</i></a>
{% endmacro delete -%}
