# mysql的ip配置
mysql_ip = 127.0.0.1

# mysql的用户配置
mysql_user = root

# mysql的密码配置
mysql_pass = reison

# mysql的端口
mysql_port = 3306

# mysql数据库名字
mysql_database_name = slg_http

# http服务的端口配置
http_listen_port = 8888

# app_id运维不要动它
app_id = wx4b4266b339f93ad5

# app_secret运维不要动它
app_secret = 20abd402973dd187460ea1d94591a9da

# 调查问卷
questionnaire = /api/common/questionnaire

#充值回调
recharge_call_back_url = /api/common/recharge

# httplist服中心加载url,每当调用modify_server,add_server,modify_white_user的时候要调用这个url
reload_http_list_url = http://127.0.0.1:8889/slg/reload