
# 谷歌token url
token_url = https://oauth2.googleapis.com/token

# app的client_id
client_id = 418956316698-qo7nqiliuldn73ig5qgjg77k98qa89oe.apps.googleusercontent.com

# 回调地址（如果谷歌没填，这里也不需要配，这里必须跟谷歌那边配置的一摸一样）
redirect_url = http://localhost:15308

# 项目id
project_id = zqwz-467410

# 服务账号秘钥地址
service_account_path = ./zqwz-467410-406042b26096.json

# 客户端秘钥
client_secret = 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

# 客户端包名
package_name = org.zqwz.cc

# http服务的端口配置
http_listen_port =5158